<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TutionPlus</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
  </head>
  <body>
    <div id="app">
      <!-- header section -->
      <header class="bg-gray-800">
        <div class="flex items-center justify-between">
          <h1 class="font-bold text-3xl m-4 text-white">StudyPlus</h1>
          <button
            v-on:click="showCheckOut"
            class="border-none rounded bg-green-600 text-white font-semibold p-2 m-4"
          >
            {{cartItemCount}}
            <span class="fas fa-cart-plus"> Cart</span>
          </button>
        </div>
      </header>

      <!-- search functionality -->
      <div v-if="showProduct">
        <div class="flex justify-center items-center mt-12 space-x-2">
          <input
            type="text"
            placeholder="Search for lessons..."
            class="border-gray-300 rounded-lg border-2 p-2 w-96"
          />
          <button class="bg-red-500 text-white font-bold h-10 w-24 rounded-lg">
            Search
          </button>
        </div>
        <!-- ends here  -->

        <!-- lessons  -->

        <div class="grid sm:grid-cols-1 md:grid-cols-3 gap-4 m-24">
          <!-- Loop through Lessons and display -->
          <div
            class="border border-solid shadow-md m-2 w-auto p-12 rounded-lg"
            v-for="(lesson, index) in lessons"
            :key="index"
          >
            <img
              :src="lesson.images"
              alt="..."
              class="w-full h-48 object-cover rounded-lg mb-2"
            />
            <p class="font-bold text-xl mb-2 mt-4">{{lesson.subject}}</p>
            <p class="font-semibold text-gray-600">
              Location : {{lesson.location}}
            </p>
            <p class="font-semibold text-gray-600">Price : ${{lesson.price}}</p>
            <p class="font-semibold text-gray-600">
              Spaces : {{lesson.spaces}}
            </p>

            <button
              v-on:click="addToCart(index)"
              v-if="lesson.spaces > 0"
              class="border-none rounded bg-blue-600 text-white font-semibold p-2 mt-4"
            >
              add To Cart
            </button>
            <button
              disabled="disabled"
              class="border-none rounded bg-blue-500 text-white font-semibold p-2 mt-4"
              v-else
            >
              No spaces Left
            </button>
          </div>
        </div>
      </div>

      <!-- show the cart page. -->
      <div v-else>
        <div class="grid sm:grid-cols-1 md:grid-cols-3 gap-4 m-24">
          <!-- Loop through Lessons and display -->
          <div
            v-for="(lesson, index) in cart"
            :key="index"
            class="border border-solid shadow-md m-2 w-auto p-12 rounded-lg"
          >
            <p class="font-bold text-xl mb-2 mt-4">
              Lesson: {{lesson.subject}}
            </p>
            <p class="font-semibold text-gray-600">
              Location: {{lesson.location}}
            </p>
            <p class="font-semibold text-gray-600">Price: {{lesson.price}}</p>
            <p class="font-semibold text-gray-600">
              Available Spaces : {{lesson.spaces}}
            </p>
            <button
              class="border-2 border-black rounded text-black font-semibold p-2 mt-4 m-4 hover:bg-black hover:text-white transition delay-150"
            >
              check Out
            </button>
            <button
              class="border-2 rounded border-black text-black font-semibold p-2 mt-4 m-4 hover:bg-black hover:text-white transition delay-150"
            >
              Remove
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- script -->
    <script type="text/javascript">
      var app = new Vue({
        el: "#app",
        data: {
          showProduct: true,
          lessons: [
            {
              id: 1,
              subject: "Math",
              location: "London",
              price: 110,
              spaces: 5,
              images: "images/mathImage.jpg",
            },
            {
              id: 2,
              subject: "Physics",
              location: "westham",
              price: 123,
              spaces: 5,
              images: "images/PhysicsImage.jpeg",
            },
            {
              id: 3,
              subject: "Web Development",
              location: "South London",
              price: 80,
              spaces: 5,
              images: "images/webdevelopmentImage.jpeg",
            },
            {
              id: 4,
              subject: "Cybersecurity",
              location: "Manchester",
              price: 200,
              spaces: 5,
              images: "images/cybersecurityImage.jpeg",
            },
            {
              id: 5,
              subject: "Data science",
              location: "Germany",
              price: 450,
              spaces: 5,
              images: "images/datascienceImage.jpeg",
            },
            {
              id: 6,
              subject: "AI/Machine Learning",
              location: "Dubai",
              price: 225,
              spaces: 5,
              images: "images/ai-vs-machine-learningImage.png",
            },
            {
              id: 7,
              subject: "Linear Alegbra",
              location: "westLondon",
              price: 30,
              spaces: 5,
              images: "images/linearAlgebraImage.jpeg",
            },
            {
              id: 8,
              subject: "Operating System",
              location: "Los Angelos",
              price: 320,
              spaces: 5,
              images: "images/operatingsystemImage.jpeg",
            },
            {
              id: 9,
              subject: "Product Management",
              location: "Portugal",
              price: 245,
              spaces: 5,
              images: "images/productManagerImage.jpeg",
            },
            {
              id: 10,
              subject: "BackEnd Webdevelopment",
              location: "switzerland",
              price: 700,
              spaces: 5,
              images: "images/backEndImage.jpeg",
            },
          ],
          cart: [],
        },
        // methods below.
        methods: {
          addToCart: function (index) {
            if (this.lessons[index].spaces > 0) {
              this.cart.push(this.lessons[index]);
              this.lessons[index].spaces--;
            } else {
              alert("No more spaces for this lesson");
            }
          },
          showCheckOut: function () {
            if (this.cart.length > 0) {
              this.showProduct = !this.showProduct;
            } else {
              alert("No lessons in the cart");
            }
          },
        },
        // computed methods.
        computed: {
          cartItemCount: function () {
            return this.cart.length || "";
          },
        },
      });
    </script>
  </body>
</html>
